@{
    ViewData["Title"] = "アクセス拒否";
}

<div class="text-center">
    <h1 class="text-danger">アクセス拒否</h1>
    <p class="lead">このページにアクセスする権限がありません。</p>
    <p>
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">ログインページに戻る</a>
    </p>
</div> 